<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--
	event catalog_product_is_salable_after
	-->		
    <event name="catalog_product_is_salable_after">
        <observer name="faonni_product_available" instance="Faonni\ProductAvailable\Observer\SalableObserver" />
    </event>
	<!--
	event sales_quote_product_add_after
	-->	    
    <event name="sales_quote_product_add_after">
        <observer name="faonni_product_available" instance="Faonni\ProductAvailable\Observer\QuoteObserver" />
    </event>
	<!--
	event catalog_product_collection_load_after
	-->	    
    <event name="catalog_product_collection_load_after">
        <observer name="faonni_product_available" instance="Faonni\ProductAvailable\Observer\CollectionObserver" />
    </event>  
	<!--
	event catalog_product_load_after
	-->	    
    <event name="catalog_product_load_after">
        <observer name="faonni_product_available" instance="Faonni\ProductAvailable\Observer\ProductObserver" />
    </event>  	
</config>
